<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="theBeerHouse" type="MB.TheBeerHouse.TheBeerHouseSection, __code"/>
	</configSections>
	<theBeerHouse defaultConnectionStringName="LocalSqlServer">
		<contactForm mailTo="thebeerhouse@example.com" />
	</theBeerHouse>
	
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <pages theme="TemplateMonster" masterPageFile="~/Template.master" />
    </system.web>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="thebeerhouse@example.com">
				<network defaultCredentials="true" host="(localhost)" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
